In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file1 = "project-data/is-your-country-more-blue-or-less-green-densely-populated-than-earths-average-population-density.csv"
file2 = "project-data/population-density.csv"
file3 = "project-data/population-density-vs-prosperity.csv"
file4 = "project-data/urban-and-rural-population.csv"
# file5 = "project-data/urban-pop-in-out-of-slums.csv"
file6 = "project-data/urban-vs-rural-majority.csv"

# Read File and store into Pandas data frame
population_density = pd.read_csv(file2)
earths_population_density = pd.read_csv(file1)
density_vs_prosperity = pd.read_csv(file3)
urban_rural_population = pd.read_csv(file4)
urban_rural_percent = pd.read_csv(file6)
# urban_population_in_slums = pd.read_csv(file6)

In [4]:
# Merge data
merged_data = pd.merge(density_vs_prosperity, earths_population_density, on=["Entity", "Code", "Year"])
merged_data = pd.merge(merged_data, urban_rural_population, on=["Entity", "Code", "Year"])
# merged_data = pd.merge(merged_data, urban_population_in_slums, on=["Entity", "Code", "Year"])
merged_data = pd.merge(merged_data, urban_rural_percent, on=["Entity", "Code", "Year"])
merged_data.head()

,Entity,Code,Year,Population density (people per km² of land area),GDP per capita (constant 2011 international $),Total population (Gapminder),"Estimates, 1950 - 2015: Population density (persons per square km), as of 1 July (persons per square km)",Urban population,Rural population,Urban (%),Rural (%)
0,Afghanistan,AFG,1960,NaN,NaN,8996351.0,13.779908,755783,8240568,8.401,91.598999
1,Afghanistan,AFG,1961,14.040934,NaN,9166764.0,14.040934,796042,8370722,8.684,91.316002
2,Afghanistan,AFG,1962,14.315271,NaN,9345868.0,14.315271,838885,8506983,8.976,91.024002
3,Afghanistan,AFG,1963,14.603367,NaN,9533954.0,14.603367,884370,8649584,9.276,90.723999
4,Afghanistan,AFG,1964,14.905739,NaN,9731361.0,14.905739,932848,8798513,9.586,90.414001

In [5]:
# #Format columns
# merged_data = merged_data.rename(columns={"Urban population living in slum households (urban population living in slums)": "Urban population living in slums", "Urban population not living in slum households (urban population not living in slums)" : "Urban population not living in slums"})
# merged_data.head()

In [6]:
# Filter by most recent year
merged_data = merged_data[merged_data["Year"] == 2014]
merged_data.head()

,Entity,Code,Year,Population density (people per km² of land area),GDP per capita (constant 2011 international $),Total population (Gapminder),"Estimates, 1950 - 2015: Population density (persons per square km), as of 1 July (persons per square km)",Urban population,Rural population,Urban (%),Rural (%)
54,Afghanistan,AFG,2014,50.176179,1838.960244,32758020.0,50.176179,8054214,24703806,24.587,75.413002
110,Albania,ALB,2014,105.441752,10701.120786,2920775.0,106.597628,1630119,1258985,56.423,43.577000
166,Algeria,DZA,2014,16.422159,13483.337862,39113313.0,16.422159,27465760,11647553,70.221,29.778999
221,American Samoa,ASM,2014,277.185000,NaN,NaN,277.185000,48390,7047,87.288,12.712000
277,Andorra,AND,2014,168.559574,NaN,79223.0,168.559574,70066,9157,88.441,11.559000

In [17]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 54 to 11882
Data columns (total 11 columns):
Entity                                                                                                      214 non-null object
Code                                                                                                        213 non-null object
Year                                                                                                        214 non-null int64
Population density (people per km² of land area)                                                            213 non-null float64
GDP per capita (constant 2011 international $)                                                              189 non-null float64
Total population (Gapminder)                                                                                191 non-null float64
Estimates, 1950 - 2015: Population density (persons per square km), as of 1 July (persons per square km)    214 non-null float64
Urban population                                                                                            214 non-null int64
Rural population                                                                                            214 non-null int64
Urban (%)                                                                                                   214 non-null float64
Rural (%)                                                                                                   214 non-null float64
dtypes: float64(6), int64(3), object(2)
memory usage: 20.1+ KB

In [7]:
# Export CSV
merged_data.to_csv('merged_noslums.csv')

In [10]:
dem_data = "project-data/six-dem.xls"

In [12]:
six_dem = pd.read_excel(dem_data)
six_dem.head()

   ctr      country   pdi   idv   mas   uai     ltowvs        ivr
0  AFE  Africa East  64.0  27.0  41.0  52.0  32.000000  40.000000
1  AFW  Africa West  77.0  20.0  46.0  54.0   9.000000  78.000000
2  ALB      Albania   NaN   NaN   NaN   NaN  61.460957  14.508929
3  ALG      Algeria   NaN   NaN   NaN   NaN  25.944584  32.366071
4  AND      Andorra   NaN   NaN   NaN   NaN        NaN  65.000000

In [19]:
six_dem = six_dem.rename(columns={'ctr':'Code', 'country':'Entity'})
six_dem.head()

  Code       Entity   pdi   idv   mas   uai     ltowvs        ivr
0  AFE  Africa East  64.0  27.0  41.0  52.0  32.000000  40.000000
1  AFW  Africa West  77.0  20.0  46.0  54.0   9.000000  78.000000
2  ALB      Albania   NaN   NaN   NaN   NaN  61.460957  14.508929
3  ALG      Algeria   NaN   NaN   NaN   NaN  25.944584  32.366071
4  AND      Andorra   NaN   NaN   NaN   NaN        NaN  65.000000

In [21]:
six_dem = six_dem[['Entity', 'Code', 'pdi', 'idv', 'mas', 'uai', 'ltowvs', 'ivr']]
six_dem.head()

        Entity Code   pdi   idv   mas   uai     ltowvs        ivr
0  Africa East  AFE  64.0  27.0  41.0  52.0  32.000000  40.000000
1  Africa West  AFW  77.0  20.0  46.0  54.0   9.000000  78.000000
2      Albania  ALB   NaN   NaN   NaN   NaN  61.460957  14.508929
3      Algeria  ALG   NaN   NaN   NaN   NaN  25.944584  32.366071
4      Andorra  AND   NaN   NaN   NaN   NaN        NaN  65.000000

In [28]:
merged_data = pd.merge(merged_data, six_dem, on=["Code"])
merged_data.head

<bound method NDFrame.head of         Entity_x Code  Year  Population density (people per km² of land area)  \
0        Albania  ALB  2014                                        105.441752
1        Andorra  AND  2014                                        168.559574
2      Argentina  ARG  2014                                         15.705657
3        Armenia  ARM  2014                                        102.080084
4        Austria  AUT  2014                                        103.563322
5     Azerbaijan  AZE  2014                                        115.348814
6        Belarus  BLR  2014                                         46.693169
7        Belgium  BEL  2014                                        370.180218
8         Brazil  BRA  2014                                         24.432844
9         Canada  CAN  2014                                          3.907770
10         Chile  CHL  2014                                         23.689361
11      Colombia  COL  2014                                         43.075179
12        Cyprus  CYP  2014                                        124.708766
13         Egypt  EGY  2014                                         92.232223
14       Estonia  EST  2014                                         31.010734
15      Ethiopia  ETH  2014                                         97.366774
16       Finland  FIN  2014                                         17.972003
17        France  FRA  2014                                        121.112673
18       Georgia  GEO  2014                                         65.205221
19         Ghana  GHA  2014                                        118.495926
20       Hungary  HUN  2014                                        108.985618
21         India  IND  2014                                        435.175449
22          Iraq  IRQ  2014                                         80.599742
23        Israel  ISR  2014                                        379.653420
24         Italy  ITA  2014                                        206.667369
25       Jamaica  JAM  2014                                        264.273961
26         Japan  JPN  2014                                        349.122230
27        Jordan  JOR  2014                                         99.226245
28    Luxembourg  LUX  2014                                        214.794981
29          Mali  MLI  2014                                         13.901807
30         Malta  MLT  2014                                       1357.993750
31        Mexico  MEX  2014                                         63.901644
32   New Zealand  NZL  2014                                         17.126961
33        Norway  NOR  2014                                         14.065167
34      Pakistan  PAK  2014                                        240.694086
35        Panama  PAN  2014                                         52.515281
36          Peru  PER  2014                                         24.197933
37        Poland  POL  2014                                        124.144273
38        Russia  RUS  2014                                          8.781877
39        Rwanda  RWA  2014                                        459.884759
40  Saudi Arabia  SAU  2014                                         14.316819
41      Suriname  SUR  2014                                          3.512359
42        Sweden  SWE  2014                                         23.805234
43      Thailand  THA  2014                                        133.916835
44        Turkey  TUR  2014                                        100.087871
45        Uganda  UGA  2014                                        193.663166
46       Ukraine  UKR  2014                                         78.150748
47     Venezuela  VEN  2014                                         34.848793

    GDP per capita (constant 2011 international $)  \
0                                     10701.120786
1                                              NaN
2                                     18797.547947
3                                      7971.117928
4                                     44320.502013
5                                     16715.105521
6                                     17944.209846
7                                     41360.395576
8                                     15374.261507
9                                     43079.142525
10                                    22195.274371
11                                    12715.967391
12                                    29786.174394
13                                     9879.799359
14                                    27113.685921
15                                     1424.526984
16                                    39017.537207
17                                    37523.727577
18                                     8749.156189
19                                     3868.600894
20                                    24161.425524
21                                     5385.141814
22                                    14838.382948
23                                    31702.083537
24                                    33945.843878
25                                     8051.244028
26                                    37337.317406
27                                     8622.185468
28                                    93655.334163
29                                     1865.160622
30                                    31846.189536
31                                    16622.597046
32                                    34455.331217
33                                    63419.314779
34                                     4576.227015
35                                    20017.994362
36                                    11547.834216
37                                    24347.073658
38                                    25284.586202
39                                     1629.868866
40                                    49958.443336
41                                    15306.692437
42                                    44167.631867
43                                    14857.202932
44                                    22401.880431
45                                     1637.275081
46                                     8243.473515
47                                    16745.021980

    Total population (Gapminder)  \
0                   2.920775e+06
1                   7.922300e+04
2                   4.298152e+07
3                   2.906220e+06
4                   8.633220e+06
5                   9.503771e+06
6                   9.484851e+06
7                   1.121916e+07
8                   2.042131e+08
9                   3.560473e+07
10                  1.761380e+07
11                  4.779191e+07
12                  1.152309e+06
13                  9.181257e+07
14                  1.318359e+06
15                  9.736677e+07
16                  5.459717e+06
17                  6.419064e+07
18                  3.992346e+06
19                  2.696256e+07
20                  9.813335e+06
21                  1.293859e+09
22                  3.500608e+07
23                  7.941329e+06
24                  5.958567e+07
25                  2.862087e+06
26                  1.281629e+08
27                  8.809306e+06
28                  5.563160e+05
29                  1.696285e+07
30                  4.255700e+05
31                  1.242216e+08
32                  4.566700e+06
33                  5.140311e+06
34                  1.855463e+08
35                  3.903986e+06
36                  3.097335e+07
37                  3.829306e+07
38                  1.437614e+08
39                  1.134536e+07
40                  3.077672e+07
41                  5.479280e+05
42                  9.689376e+06
43                  6.841677e+07
44                  7.703063e+07
45                  3.883334e+07
46                  4.488343e+07
47                  3.073838e+07

    Estimates, 1950 - 2015: Population density (persons per square km), as of 1 July (persons per square km)  \
0                                          106.597628
1                                          168.559574
2                                           15.705657
3                                          102.080084
4                                          104.760645
5                                          114.977026
6                                           46.744128
7                                          370.513904
8                                           24.432844
9                                            3.915400
10                                          23.689361
11                                          43.075179
12                                         124.708766
13                                          92.232223
14                                          31.100708
15                                          97.366774
16                                          17.966096
17                                         117.230970
18                                          57.452094
19                                         118.495926
20                                         108.398708
21                                         435.175449
22                                          80.599742
23                                         366.974538
24                                         202.575875
25                                         264.273961
26                                         351.559773
27                                          99.226245
28                                         214.793822
29                                          13.901807
30                                        1329.906250
31                                          63.901644
32                                          17.343435
33                                          14.072711
34                                         240.694086
35                                          52.515281
36                                          24.197933
37                                         125.046730
38                                           8.778318
39                                         459.884759
40                                          14.316819
41                                           3.512359
42                                          23.613043
43                                         133.916835
44                                         100.087871
45                                         194.351324
46                                          77.476051
47                                          34.848793

    Urban population  Rural population  Urban (%)  ...  uai_x   ltowvs_x  \
0            1630119           1258985     56.423  ...    NaN  61.460957
1              70066              9157     88.441  ...    NaN        NaN
2           39275219           3706296     91.377  ...   86.0  20.403023
3            1834174           1072046     63.112  ...    NaN  60.957179
4            4916377           3629979     57.526  ...   70.0  60.453401
5            5189181           4345898     54.422  ...    NaN  60.705290
6            7266287           2208224     76.693  ...    NaN  80.856423
7           10966157            242900     97.833  ...   94.0  81.863980
8          174585892          29627241     85.492  ...   76.0  43.828715
9           28861099           6674249     81.218  ...   48.0  36.020151
10          15377374           2236424     87.303  ...   86.0  30.982368
11          37953946           9837965     79.415  ...   80.0  13.098237
12            772404            379905     67.031  ...    NaN        NaN
13          39331585          52480981     42.839  ...    NaN   6.801008
14            897427            417118     68.269  ...   60.0  82.115869
15          18497740          78869034     18.998  ...    NaN        NaN
16           4651843            809669     85.175  ...   59.0  38.287154
17          52650998          13665094     79.394  ...   86.0  63.476071
18           2126887           1600113     57.067  ...    NaN  38.287154
19          14403132          12559431     53.419  ...    NaN   3.526448
20           6928924           2937544     70.227  ...   82.0  58.186398
21         419003394         874855900     32.384  ...   40.0  50.881612
22          24419541          10586539     69.758  ...    NaN  24.937028
23           7566988            648712     92.104  ...   81.0  37.531486
24          42109853          18679287     69.272  ...   75.0  61.460957
25           1562242           1299845     54.584  ...   13.0        NaN
26         116208079          11067921     91.304  ...   92.0  87.909320
27           7928375            880931     90.000  ...    NaN  16.120907
28            500042             56277     89.884  ...   70.0  63.979849
29           6648757          10314089     39.196  ...    NaN  20.151134
30            409992             24566     94.347  ...   96.0  47.103275
31          98126368          26095232     78.993  ...   82.0  24.181360
32           3891014            618686     86.281  ...   49.0  32.745592
33           4145335            991897     80.692  ...   50.0  34.508816
34          66460814         119085443     35.819  ...   70.0  49.874055
35           2591115           1312871     66.371  ...   86.0        NaN
36          23903066           7070288     77.173  ...   87.0  25.188917
37          22960228          15051507     60.403  ...   93.0  37.783375
38         106354643          37465023     73.950  ...   95.0  81.360202
39           1924967           9420390     16.967  ...    NaN  18.387909
40          25532369           5244353     82.960  ...    NaN  35.516373
41            362120            185808     66.089  ...   92.0        NaN
42           8362604           1333506     86.247  ...   29.0  52.896725
43          32116885          36299887     46.943  ...   64.0  31.738035
44          56291672          20738956     73.077  ...   85.0  45.591940
45           8350721          30482617     21.504  ...    NaN  23.677582
46          31223156          14048791     68.968  ...    NaN  86.397985
47          27094036           3644342     88.144  ...   76.0  15.617128

         ivr_x        Entity  pdi_y  idv_y  mas_y  uai_y   ltowvs_y  \
0    14.508929       Albania    NaN    NaN    NaN    NaN  61.460957
1    65.000000       Andorra    NaN    NaN    NaN    NaN        NaN
2    61.830357     Argentina   49.0   46.0   56.0   86.0  20.403023
3          NaN       Armenia    NaN    NaN    NaN    NaN  60.957179
4    62.723214       Austria   11.0   55.0   79.0   70.0  60.453401
5    21.651786    Azerbaijan    NaN    NaN    NaN    NaN  60.705290
6    14.955357       Belarus    NaN    NaN    NaN    NaN  80.856423
7    56.696429       Belgium   65.0   75.0   54.0   94.0  81.863980
8    59.151786        Brazil   69.0   38.0   49.0   76.0  43.828715
9    68.303571        Canada   39.0   80.0   52.0   48.0  36.020151
10   68.000000         Chile   63.0   23.0   28.0   86.0  30.982368
11   83.035714      Colombia   67.0   13.0   64.0   80.0  13.098237
12   69.866071        Cyprus    NaN    NaN    NaN    NaN        NaN
13    4.241071         Egypt    NaN    NaN    NaN    NaN   6.801008
14   16.294643       Estonia   40.0   60.0   30.0   60.0  82.115869
15   46.000000      Ethiopia    NaN    NaN    NaN    NaN        NaN
16   57.366071       Finland   33.0   63.0   26.0   59.0  38.287154
17   47.767857        France   68.0   71.0   43.0   86.0  63.476071
18   31.919643       Georgia    NaN    NaN    NaN    NaN  38.287154
19   72.321429         Ghana    NaN    NaN    NaN    NaN   3.526448
20   31.473214       Hungary   46.0   80.0   88.0   82.0  58.186398
21   26.116071         India   77.0   48.0   56.0   40.0  50.881612
22   16.741071          Iraq    NaN    NaN    NaN    NaN  24.937028
23         NaN        Israel   13.0   54.0   47.0   81.0  37.531486
24   29.687500         Italy   50.0   76.0   70.0   75.0  61.460957
25         NaN       Jamaica   45.0   39.0   68.0   13.0        NaN
26   41.741071         Japan   54.0   46.0   95.0   92.0  87.909320
27   43.080357        Jordan    NaN    NaN    NaN    NaN  16.120907
28   56.026786    Luxembourg   40.0   60.0   50.0   70.0  63.979849
29   42.633929          Mali    NaN    NaN    NaN    NaN  20.151134
30   65.625000         Malta   56.0   59.0   47.0   96.0  47.103275
31   97.321429        Mexico   81.0   30.0   69.0   82.0  24.181360
32   74.553571   New Zealand   22.0   79.0   58.0   49.0  32.745592
33   55.133929        Norway   31.0   69.0    8.0   50.0  34.508816
34    0.000000      Pakistan   55.0   14.0   50.0   70.0  49.874055
35         NaN        Panama   95.0   11.0   44.0   86.0        NaN
36   46.205357          Peru   64.0   16.0   42.0   87.0  25.188917
37   29.241071        Poland   68.0   60.0   64.0   93.0  37.783375
38   19.866071        Russia   93.0   39.0   36.0   95.0  81.360202
39   37.276786        Rwanda    NaN    NaN    NaN    NaN  18.387909
40   52.232143  Saudi Arabia    NaN    NaN    NaN    NaN  35.516373
41         NaN      Suriname   85.0   47.0   37.0   92.0        NaN
42   77.678571        Sweden   31.0   71.0    5.0   29.0  52.896725
43   45.089286      Thailand   64.0   20.0   34.0   64.0  31.738035
44   49.107143        Turkey   66.0   37.0   45.0   85.0  45.591940
45   52.455357        Uganda    NaN    NaN    NaN    NaN  23.677582
46   14.285714       Ukraine    NaN    NaN    NaN    NaN  86.397985
47  100.000000     Venezuela   81.0   12.0   73.0   76.0  15.617128

         ivr_y
0    14.508929
1    65.000000
2    61.830357
3          NaN
4    62.723214
5    21.651786
6    14.955357
7    56.696429
8    59.151786
9    68.303571
10   68.000000
11   83.035714
12   69.866071
13    4.241071
14   16.294643
15   46.000000
16   57.366071
17   47.767857
18   31.919643
19   72.321429
20   31.473214
21   26.116071
22   16.741071
23         NaN
24   29.687500
25         NaN
26   41.741071
27   43.080357
28   56.026786
29   42.633929
30   65.625000
31   97.321429
32   74.553571
33   55.133929
34    0.000000
35         NaN
36   46.205357
37   29.241071
38   19.866071
39   37.276786
40   52.232143
41         NaN
42   77.678571
43   45.089286
44   49.107143
45   52.455357
46   14.285714
47  100.000000

[48 rows x 37 columns]>